//global

.bg-primary-dark {
    background-color: $blue-dark;
}

.fa-layers {
    position: relative;
}

.fa-layers-counter {
    font-size: 0.75rem;
}

.fa-layers-bottom-right {
    position: absolute;
    bottom: -6px;
    right: -7px;
    border-radius: 5px;
    padding: 0px 3px;
}

.badge--large {
    font-size: 1em;
    padding: 0.5rem 1rem 0.35rem 1rem;
}

.badge-warning {
    color: $white;
}

//navbar

.navbar__account-dropdown {
    font-size: 0.875rem;
}

.navbar--right {
    font-size: 0.875rem;
    .nav-item {
        margin: 0 0.5rem;
    }
}

.navbar__icon {
    font-size: 1.125rem;
    color: $navbar-icon-color;
}

.nav-link:hover {
    .navbar__icon {
        color: $navbar-dark-hover-color;
    }
}

.navbar__icon--dropdown {
    margin-right: 0.35rem;
}

.nav-item--start,
.nav-item--end {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 18px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: $navbar-icon-color;
    }
}

.nav-item--start {
    padding-left: 1rem;
    &::before {
        left: 0;
    }
}

.nav-item--end {
    padding-right: 1rem;
    &::before {
        right: 0;
    }
}

.nav-link.disabled {
    cursor: default;
}

//sidebar

.main-sidebar {
    background-color: #f9fafc;
    border-right: solid 1px #d6deec;
}

.main-sidebar__header {
    background-color: $primary;
}

.main-sidebar__lower-header {
    background-color: $primary-dark;
}

//user card

.user-card {
    margin: 0 auto 1rem auto;
}

.user-card__image {
    border-radius: 50%;
    max-width: 80px;
}

.user-card__name {
    font-weight: 600;
    color: $blue-dark;
    &:hover {
        text-decoration: none;
    }
}

.user-card__category {
    font-size: 0.8125em;
}

//cards

.card {
    border-color: $border-color;
    border-radius: 0.75rem;
}

.card-header {
    background-color: $white;
}

.card--split {
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 55%;
        width: 1px;
        background-color: $border-color;
    }
}

.card__inner {
    &:first-child {
        padding-right: 0.5rem;
    }
    &:last-child {
        padding-left: 0.5rem;
    }
}

.score-cards-holder {
    margin: 0 auto 1rem auto;
}

.score-card {
    margin: 0.25rem 0.15rem;
}

.card-body--small {
    padding: 0.5rem 1rem;
}

.score-card__title {
    font-size: 0.6875em;
}

.score-card__score {
    font-size: 1.25em;
}

.score-card__body {
    padding-bottom: 0.75rem;
    padding: 0.7rem 0.7rem 0.45rem 0.7rem;
}


//assessment nav

.assessment-nav {
    .navbar-nav {
        width: 100%;
    }
}

.assessment-nav__nav-item {
    text-align: center;
    margin: 0 0.25rem;
    .nav-link {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        color: $body-color;
        @include transition(color 0.15s ease);
        &:hover {
            color: lighten($body-color, 20%);
        }
    }
    &.active {
        .nav-link {
            background-color: $white;
            color: $primary!important;
        }
    }
}

.navbar-light .navbar-nav {
    .assessment-nav__nav-item {
        .nav-link {
            padding: 0.5rem 1rem;
        }
    }
}

.step-status {
    position: relative;
    border: solid 1px $border-color;
    width: 20px;
    height: 20px;
    margin: 0.5rem auto;
    border-radius: 50%;
    font-size: 0.5em;
    padding-top: 0.35em;
    &::before {
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
    }
}

.step-status--complete {
    background-color: $border-color;
    color: $white;
    &::before {
        content: '\f00c';
    }
}

.step-status--incomplete {
    &::before {
        content: '';
        display: block;
        height: 2px;
        width: 7px;
        background-color: $border-color;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.step-status--locked {
    border-color: transparent;
    font-size: 1.1em;
    padding-top: 0;
    margin-top: 0.2rem;
    &::before {
        content: '\f023';
        color: $border-color;
    }
}

.column--assessment-due {
    text-align: center;
}

.row--assessment-due {
    display: inline-block;
    vertical-align: middle;
}

.row--assessment-complete-button {
    display: inline-block;
    vertical-align: middle;
}

.assessment-due-card {
    margin: 1rem 0.5rem;
}

.assessment-complete-button {
    margin: 0 0.5rem;
}

.assessment-progress {
    width: 90%;
}

.progress {
    position: relative;
    height: 0.3rem;
    overflow: visible;
}

.progress-label--assessment-nav {
    position: absolute;
    right: -42px;
    top: -9px;
    font-size: 1rem;
    font-weight: 600;
}

//range

.rangeslider {
    background: #dae1ee;
    box-shadow: none;
}

.rangeslider--horizontal {
    height: 7px;
}

.rangeslider__handle {
    width: 28px;
    height: 28px;
    background: #6e8dfd;
    border-color: transparent;
    box-shadow: none;
    &::after {
        display: none;
    }
}

.rangeslider__fill {
    background: #6e8dfd;
}

.rangeslider--disabled {
    opacity: 1;
}

.range-tag {
    line-height: 1.1;
    margin-top: 1.5rem;
    border-bottom: solid 1px $border-color;
    padding-bottom: 1rem;
}

//accordion

.accordion-row {
    &:last-child {
        border-bottom: 0;
    }
}

.accordion-row--header {
    .accordion-row__item {
        display: none;
    }
}

.accordion-row__item {
    &::before {
        content: attr(data-title);
        margin: 1rem 0;
        min-width: 98px;
        font-size: 0.9em;
        line-height: 10px;
        font-weight: bold;
        color: #969696;
        display: block;
    }
}

.accordion-row--body {
    margin: 1rem 0;
    padding: 1rem 0;
    border-bottom: solid 1px $border-color;
    &:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

.accordion-row__heading {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
}

.progress-label--total-score {
    font-size: 1.3em;
}

.progress-label__score {
    font-weight: 600;
    font-size: 1.2em;
}