.pseudo-border {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 18px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: $navbar-icon-color;
    }
}

.pseudo-border--right {
    &::before {
        right: 0;
    }
}

.pseudo-border--left {
    &::before {
        left: 0;
    }
}

.navbar--right {
    .nav-item {
        &:first-child {
            padding-left: 1rem;
        }
    }
}

.assessment-progress {
    margin-top: 1rem;
}

.card-inner {
    &:first-child {
        padding-right: 1.5rem;
    }
    &:last-child {
        padding-left: 1.5rem;
    }
}

.score-card__body {
    padding: 1.25rem;
}

.slideout-panel {
    margin-left: 0;
}

.slideout-menu {
    display: block;
    position: relative;
    overflow-y: auto;
    width: 100%;
}

.btn-hamburger {
    display: none;
}

.main-sidebar__header {
    font-size: 0.8rem;
    line-height: 1;
    .form-control {
        font-size: 1em;
    }
}

.nav--coaches {
    display: block;
}

.nav-item--coach {
    background-color: #fff;
    padding: 0.5rem 1.25rem;
    border-radius: 7px;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: center;
}

.coach__col {
    margin-bottom: 1rem;
}


.sidebar-toggler {
    display: none;
}

#sidebarSlidout {
    .main-sidebar {
        display: none;
    }
}

.assessment-filter__col {
    &:last-child {
        padding-right: 0;
    }
}

.navbar-toggler.sidebar-toggler {
    display: none;
}