.assessment-progress {
    margin-top: 1rem;
}

.card-inner {
    &:first-child {
        padding-right: 1.5rem;
    }
    &:last-child {
        padding-left: 1.5rem;
    }
}

.score-card__body {
    padding: 1.25rem;
}