.main-body {
    margin-left: 4rem;
    margin-right: 4rem;
}

.score-card {
    font-size: 1.2rem;
    min-width: 250px;
}

.assessment-progress {
    margin-top: 3.5rem;
    width: 100%;
}

.row--assessment-due {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row--assessment-complete-button {
    margin-top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.assessment-complete-button {
    margin: 0;
}

.assessment-due-card {
    margin: 0;
}

//accordions
.accordion-row__section--left {
    width: 25%;
}

.accordion-row__section--center {
    width: 70%;
}

.accordion-row__section--right {
    width: 5%;
}

.accordion-header {
    margin: 0px auto;
    width: 100%;
    border-radius: 10px;
    @include transition(background-color 0.15s ease);
    &:first-child {
        border-radius: 10px;
    }
    border: solid 1px transparent;
    @include transition(width 0.25s ease-out);
    &.collapsed {
        width: 98%;
        border: solid 1px $border-color;
        &:hover,
        &:focus {
            background-color: #f7f9ff;
        }
    }
}

.accordion-body {
    max-width: 98%;
    margin: 0px auto;
    padding-top: 1rem;
    border: solid 1px $border-color;
    border-top: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}