.main-body {
    margin-left: 4rem;
    margin-right: 4rem;
}

.score-card {
    font-size: 1.2rem;
    min-width: 250px;
}

.assessment-progress {
    margin-top: 3.5rem;
    width: 100%;
}

.row--assessment-due {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row--assessment-complete-button {
    margin-top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.assessment-complete-button {
    margin: 0;
}

.assessment-due-card {
    margin: 0;
}

//accordions
.accordion-row__section--left {
    width: 25%;
}

.accordion-row__section--center {
    width: 70%;
}

.accordion-row__section--right {
    width: 5%;
}