//cards

.user-card {
    width: 100%;
    max-width: 360px;
    margin: 0 0 1rem 0;
}

.user-card__content {
    min-width: 130px;
}

.score-card {
    width: 100%;
    max-width: 340px;
    min-width: 200px;
    margin: 0 0.5rem;
}

.navbar-nav .assessment-nav__nav-item {
    .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.assessment-due-card {
   min-width: 300px;
}

.assessment-progress {
    position: relative;
    left: -1.5rem;
    margin: 0 auto;
}

.score-cards-holder {
    margin: 0 0 1rem 0;
}