//cards

.user-card {
    width: 100%;
    max-width: 360px;
    margin: 0 0 1rem 0;
}

.user-card__content {
    min-width: 130px;
}

.score-card {
    width: 100%;
    max-width: 340px;
    min-width: 200px;
    margin: 0 0.5rem;
}

.assessment-nav {
    margin-top: 0;
}

.navbar-nav--assessment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.navbar-nav .assessment-nav__nav-item {
    width: auto;
    .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.assessment-due-card {
   min-width: 300px;
}

.assessment-progress {
    margin: 1rem auto 0 auto;
    .progress {
        width: 94%;
    }
}

.score-cards-holder {
    margin: 0 0 1rem 0;
}

//accordions

.scores-accordion {
    font-size: 0.875rem;
}

.accordion-row__item {
    line-height: 1.2;
}

.accordion-row--header {
    .accordion-row__item {
        display: block;
    }
}

.accordion-header-right {
    position: relative;
    left: -2rem;
}

.accordion-row__item {
    &::before {
        display: none;
    }
}

.accordion-row__item--comments {
    line-height: 2;
}

.accordion-row__item--files {
    margin: 1rem 0;
}
