.btn {
    border-radius: 25px;
    padding: 0.375rem 1.7rem;
}

.btn-primary.disabled, .btn-primary:disabled {
    background: #ccd7ec;
    border-color: #ccd7ec;
    &:hover {
        background: #ccd7ec;
    }
}